/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';


.ql-toolbar {
  position: absolute;
  bottom:0;
  z-index: 1000;
  width:100%;
  border: 0 !important;
}


